@import url(./app.css);
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 255 255 255;
    --color-primary-dark: 243 244 246;
    --color-accent: 67 160 71;
    --color-accent-dark: 54 128 57;
    --text-color-header: 55 65 81;
    --text-color-body: 75 85 99;
  }
  /* dark mode according to the system preference */
  /* @media (prefers-color-scheme: dark) {
    :root {
      --color-primary: 100 100 100;
      --color-primary-dark: 100 100 100;
      --color-accent: 67 160 71;
      --color-accent-dark: 54 128 57;
      --text-color-header: 55 65 81;
      --text-color-body: 75 85 99;
    }
  } */

  /* dark mode according to explicit selection by user */
  :root[data-theme="dark"] {
    --color-primary: 100 100 100;
    --color-primary-dark: 100 100 100;
    --color-accent: 67 160 71;
    --color-accent-dark: 54 128 57;
    --text-color-header: 55 65 81;
    --text-color-body: 75 85 99;
  }
}
