@tailwind base;
@tailwind components;
@tailwind utilities;

.transition-smooth {
  @apply transition-all duration-200 ease-in-out;
}

/* :root {
  background-color: gray;
} */

body {
  min-height: 100vh;
}

.green-background {
  background: url("https://images.unsplash.com/photo-1476553986076-d59060d397e4?q=80&w=1516&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    no-repeat;
  background-position: center;
  background-size: cover;
}
